html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#header {
  align-items: center;
  width: 100%;
}

#header .header-content {
  display: inline-flex;
  background-color: black;
  padding: 0.33rem 0rem .33rem 4rem;
  margin: auto;
  align-items: center;
  height: 2.32rem;
  width: 100%
}

#header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

#header h4 {
  height: 1.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  padding-top: 0.5rem;
}

#banner {
  height: 25rem;
  margin-top: 0;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 2px solid black;
  border-bottom: 2px solid firebrick;
}

.banner-content {
  margin-top: 9rem;
  background-color: black;
  width: 25rem;
  margin-left: 4rem;
}

#banner h4 {
  padding-left: 3rem;
  padding-top: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
}

#banner h1 {
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 1024px){
.menu, .mediumScreenLayout, .infoMediumScreenLayout {
  display: none;
}
}

@media screen and (min-width: 470px){
  .mediumScreenLayout, .infoMediumScreenLayout, .mobile-only, .infoMobile-only {
    display: none;
  }
}

#nav {
background-color: firebrick;
  width: 100%;
  font-size: 1rem;
}

.nav-content {
  margin: 0;
  background-color: firebrick;
}

#nav li {
  display: inline-flex;
  padding: 0.75rem 2rem;
}

#nav a {
  text-decoration: none;
  color: white;
}

#middle-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

#images {
  margin-bottom: -.125rem
}

#images img {
  border: 4px solid black;
  height: 9rem;
  width: 9rem;
  padding: 2rem;
  margin: 0 1rem;
}

#glasses img {
  height: 5rem;
  width: 9rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

#pen {
  background-color: black;
  text-align: center;
  width: 13.45rem;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: -.75rem;
  margin-right: -.65rem;
}

#watch {
  background-color: black;
  text-align: center;
  width: 13.45rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.25rem;

}
#thermal {
  background-color: black;
  text-align: center;
  width: 13.45rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: .65rem;
  margin-right: -.75rem;
}

#text {
  margin-top: 0;
  width: 44.33rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}

#info .location {
  display: inline-flex;
  width: 100%;
  height: auto;
  font-size: 1rem;
  align-items: center;
}

#location {
  margin-left: 6.5rem;
  padding: 1rem 4rem 1rem 2rem;
  background-color: black;
  width: 35%;
}

#hours {
  margin-left: 13.6rem;
  margin-right: 7rem;
  padding: 1rem 4rem 1rem 2rem;
  background-color: black;
  width: 35%;
}

#place .place-content {
  display: inline-flex;
  width: 100%;
}

#lat-long, #time {
  color: black;
  display: flex;
  width: 35%;
  font-size: 1rem;
}

 #place #lat-long {
  margin-left: 6.5rem;
}

#place #time {
  margin-left: 13.75rem;
  margin-right: 7rem;
}

footer {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  height: 7rem;
  width: 100%;
  background-color: black;
  margin-top: 4rem;
  padding-left: 4rem
}

@media only screen and (max-width: 1024px){

  #header .header-content {
    padding-left: 0;
  }
  #banner .banner-content {
    margin-left: 0;
  }
 .nav-content {
    display: none;
  }
  .menu {
    background-color: firebrick;
    text-align: center;
    padding: 0.75rem 2rem;
  }
  .menu a {
    text-decoration: none;
    color: white;
  }
  .mediumScreenLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    justify-content:space-between;
    margin-bottom: 3rem;
  }
  .mediumScreenLayout img {
    border: 4px solid black;
    height: 9rem;
    width: 9rem;
    padding: 2rem 7rem;
  }
  #penMediumScreen, #watchMediumScreen{
    background-color: black;
    height: 2rem;
    width: 23rem;
    text-align: center;
    padding-right: .45rem;
    padding-top: .5rem;
    margin-top: -.25rem
  }
  #middle-content, #info, #place {
    display: none;
  }
.infoMediumScreenLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#locationMediumScreenLayout{
  background-color: black;
  width: 14rem;
  height: 3rem;
  padding-left: 2rem;
  padding-top: 1rem;
}
#hoursMediumScreenLayout {
  background-color: black;
  width: 14rem;
  height: 3rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

#lat-longMediumScreen, #timeMediumScreen{
  color:black;
}
footer {
  padding-left: 0;
}
@media only screen and (max-width: 470px){
  .mediumScreenLayout, .infoMediumScreenLayout {
     display: none;
   }
  footer {
    padding-left: 4rem;
  }
  #images img, #pen, #watch, #thermal, #cellular, #glasses, #info, #place {
    display:none;
  }
  #banner {
    height: 15rem;
  }
  #banner h4 {
    font-size: 0.77rem;
  }
  .banner-content {
      margin-bottom: 0rem;
      background-color: black;
      width: 100%;
      margin-left: 0rem;
      margin-top: 10rem;
      margin-bottom: 0rem;
  }
  #banner h1 {
    font-size: 1rem;
  }
  #header img {
    height: 1.5rem;
    width: auto;
  }
  .menu {
    margin-top: 2.5rem;
  }
  .mobile-only {
    width: 100%;
  }
  .mobile-only img {
    border: 3px solid black;
    height: 9rem;
    width: 9rem;
    padding: 2rem 7rem;
    margin: 3rem 1rem 0rem 1rem;
  }
  #penMobile-only {
    background-color: black;
    height: 2rem;
    width: 23.35rem;
    padding-top: 1rem;
    margin-top: -.5rem;
    margin-left: 1rem;
    text-align: center;
  }
  .infoMobile-only {
     display: flex;
     flex-direction: column;
     margin-top: 3rem;
     margin-bottom: 1rem;
  }
  #locationMobile-only {
    background-color: black;
    width: 21.35rem;
    height: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #hoursMobile-only {
    background-color: black;
    width: 21.35rem;
    height: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 1rem;
  }
  #lat-longMobile-only {
    color: black;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  #timeMobile-only {
    color: black;
    margin-left: 1rem;
  }
